body{
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "sans-serif";
  text-align: center;
  background-color: #538BAD;
  font-weight: 600;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}
p{
  margin: auto;

  width: 80%;
  margin-bottom: 1rem;
}
button{
  background-color: #FA5F61;
  border-radius: 4px;
  border: solid 2px #3e3f40;
  padding: 5px;
  color: #91D2FA;
  font-style: 900;
  width: 100px;
  height: 40px;
  font-weight: 800;
  margin: 5px 10px;
}

button:hover{
  background-color: #B8B659;

}
form{
  margin-bottom: 0px;
}
input{
  width: 50px;
}
.flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.arrow{
  width: auto;
  margin: 5px auto;
  font-size: 30px;
  font-weight: 900;
}
.main-box{
  align-content: center;
  background-color: #91D2FA;
  width: 80%;
  margin: auto;
  width: 60%;
  padding: 0px 0px 10px 0px;
  border: solid;
  border-color: #e1e7eb;
  border-radius: 5px;
}
.user-input{
  align-content: center;
  background-color: #e1e7eb;
  margin: auto;
  width: 80%;
  border: solid;
  border-color: #3e3f40;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.sample{
  background-color: white;
  width: auto;
  justify-content: center;
  margin: 5px 200px;
}
.grid-container{
  padding: 5px;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: #91D2FA;
  border: 1px solid black;
  justify-content: center;
}
.grid-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.2);
  width: 50px;
  height: 50px;

}
